<section>
  <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col w-full max-w-3xl mx-auto prose text-center">
      <div class="w-full mx-auto text-justify ">
        <br>
        <h1>A podcast is a turtle not a rabbit</h1>
        <br>    

        <p>A simple definition is: a podcast is an audio programme that is made available for downloading or listening via the Internet.
        In the world that’s becoming faster and faster, the podcast format has become incredibly popular. There are two reasons for it:</p>
        <p>The first one is that podcasts are a sort of counterbalance for a busy life. Everything around us is crowded with information, mostly short ones. It’s what our smartphones enable and social media dictate - scrolling over endless posts that should be no longer than 50 characters or, in the case of a video, only 3 to 60 seconds long. On the other hand a podcast represents a meaningful conversation that you can submerge in, that can make you think, which is the main reason of its constant growing popularity.</p>

        <p>The second reason is that audio content allows the listener to multitask. A recent study showed that while 49% of podcast listening happens at home, 22% happens while driving, 11% at work, and 8% while exercising. Speaking of volume, according to data shared by Statista, almost 60% of all US consumers older than 12 listen to podcasts. See <a target="_blank"  href='https://www.statista.com/chart/14306/podcast-adoption' class="no-underline hover:underline ..."/> here</a> for other countries: </p>

        And it’s still rising...

        <p>We can see that these facts show that human beings are desperately trying to escape this bombardment of information, whenever they can, and dive into something more meaningful, like a human conversation, on a topic of our choice.</p>

        <p>Now that we stated the obvious - that podcasts are huge, but also why that is the case, let’s go to the not so obvious part, which should concern anyone who’s trying to get into podcasting himself.</p>

        <h3>ROI</h3>

        <p>Ah, the magic words… well, when they work. First of all we should say that a return on investment from podcasting is very much possible. So how can you get it?</p>

        <p>Here we don’t want to get into all the advice a google search will throw at you and endless agencies will state as self-explanatory. But to sum it up, it all comes down to promoting yourself, mostly through social media. That is fine, generally speaking. But the problem is most of this promotion will get your podcast back to the place from which your listeners are trying to escape from - social media and endless scrolling with very short content.</p>

        <p>Think about it, how well can a 30-second reel or a 50-character quote be the means to take you to an hour-long conversation? Now, I’m not saying you shouldn’t advertise your podcast on social media in any form or in any other way you can think of. What I’m saying is that “the experts” propose this to be a dominant way to market your podcast. Why? Because it’s the fastest way for people to hear about you. But is it?</p>

        <p>Let’s make a little comparison with the food industry… Imagine you're selling organic vegetables. It took you time and effort to grow it, it’s healthy, people can eat it for a long period of time and just have benefits from it. Now you decide to promote your organic vegetables and you think: what’s the fastest way to get it to people’s attention? Where can I find a lot of people looking for food? And you conclude: Let’s put it in a fast food restaurant! The traffic is great there, a lot of people will hear about my product.</p>

        <p>I hope the comparison between podcasting as a medium and social media struck a chord. So as with fast food, people don’t come to social media for the kind of content a podcast is. Of course, some people will get interested in your podcast through social media as some would notice organic products in McDonalds, but it’s not what most people are there for.</p>

        <p>The other problem that’s popping up when you market yourself on social media is how many people are actually following you? How many likes or views do you get regularly or, at the very best, what’s the most likes or views you’ve ever got? If you're very popular, or a bit famous then this is the way, but most people don’t have too many followers. Say you get 100 likes for a social media post - how many of those people would be interested in a topic of your podcast? Probably not more than 10. Maybe a few more would listen to an episode or two because you’re friends but that’s one time thing. And the most important thing, when you post another episode you’re not presenting it to new people, it’s the same 10 from before - you’re not gaining a new audience. Surely, If people share your podcast you can get more listeners but, again, unless some of the people sharing it are really popular or a bit famous, you can expect a steady decline in visibility of your post, the further it goes away from you.</p>

        <p>Now let’s see what is the inherently good way when trying to promote a podcast; the way that suits the form of a podcast as a medium. It’s a simple way, the one that works all around the internet, no matter what you do and that is:</p>

        <h2>Networking</h2>

        <p>We’ll use an example where your podcast is about golfing (or knitting). When you start, you will be getting some audience on your own. After a while, you should start networking - finding other podcasters that are interested in the similar topic as you and invite them to your show (or become a guest at theirs). When you get a fellow podcaster on your show to talk about what you both find interesting, both of you are instantly being presented to a completely new audience and most importantly, the audience that loves the topic of your podcast. So these are the people that you want to target and the same goes for your guest, he wants your audience. So you don’t have to worry about whether your guest will promote and share an episode he had with you. Of course he will, he’s in it, he wants to promote himself! So imagine, over a course of time, you have 10 or 20 guests like that and you get to be a guest on some other shows. The number of your listeners would grow slowly and steadily.</p>

        <p>This brings us back to our title - that podcast is a turtle, not a rabbit. And as we know from the story - slow and steady gets the message across first.</p>

        <p>If we keep in mind the things we said here and acknowledge that podcast is a long-form medium, when you plan investment in your podcast it should also be slow and steady. So the one thing you have to have is audio, because that’s what a podcast is, an audio programme. Everything else, you can essentially do without. But you can also get all in: fancy show notes, audiogramms, reels, a social media strategy (with every day posts), video version of a podcast (that could be done with 3 cameras), promotion, booking, high-profile guests paid to be on your show and many more. You can imagine how much would all that cost. There are many agencies that can do all or some of this for you and most of them will promise success, because their strategy is just what you need. However, if you understand a podcast as a medium you can see that most of this you don’t really need. It will help you somewhat but not nearly enough to compensate for what you invested. And after six months of that kind of expense, it’s very likely you’ll just quit podcasting. And it would be because of trying to be a rabbit, instead of a turtle - you know, the one who wins.</p>

        <p>So, in order to go slow and steady, the only thing you have to have is an audio recording. You can record it in many simple ways nowadays and some platforms will put it out there for you for a subscription type fee. However, you should be careful with audio quirks because there is a long list of them. As a podcast producer with sound engineering of 20 years as a background, I have to tell you that the amount of misconceptions about many aspects of audio files coming from these platforms as well as some production companies is astonishing! Some of the ignorance they show can get a good sound engineer somewhere between laughing and crying. Namely, they are trying the one-size-fits-all approach in taking care of your audio recording while at the same time every recording is done in a completely different environment, setup, file type, rate etc. The reason this is very important is not a technical one, but the fact that bad audio will wear down your listeners, making them tired of what they are listening to. And they might not even notice it’s because of what your audio is doing to their hearing apparatus (mostly brain), they could just think the conversation you have is not that great so they got tired of it.</p>

        <p>Not to contradict myself here, you can do the audio part in the cheapest way possible, just as you can with all the other stuff that accompanies a podcast. But remember, a podcast is an audio programme and it’s not a well designed social media post or nice show notes. So it kinda makes sense that a podcast itself is done properly, before everything else.</p>

        <p>The conclusion would be that if you’re into podcasting you should do it the sustainable way and a way that’s inherent to the medium you chose, like we explained. Basically, it comes down to audio - which a podcast is, and networking - the best and most adequate way of promoting your new found passion. And it should be just that - something you love to do. Because it will leave a mark on the conversations you will have and that will draw people to listen to you, for a long time. All the other things, you can choose and pick from or go with the option your budget allows.</p>
        
        <br>
        <p>That's why we created our <b><%= link_to "pricing", pricing_path, class: 'no-underline hover:underline ...' %></b> to be in accord with what we've talked about here.</p>
        <br>    
      </div>
    </div>
  </div>
</section>
