<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Turtle Podcast Production</h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-900">
        Created more than 50 podcasts and 2000 episodes! 
        <hr>Take a listen to some of them:</p>
    </div>
    <div class="flex flex-wrap -m-4">

      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 1 --> 
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0ZmrzYXtsx61bwZPmJbMh2?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 2 --> 
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4lM9FI10nkYWLeR8Htj7oB?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 3 --> 
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0DhcVaxkANydf1xYe39Qdh?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 4 -->           
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4Lr2XV7wtLaFKhgbGYLZJe?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 5 -->         
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1USLHvePYY6VChzpbYP9ea?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 6-->          
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/07IGQ8vokiwHEm5ghZOhPQ?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 7-->          
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3Sj58u9sPvUUXZITu38o5n?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>

      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 8-->          
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5QCwWYcxWOceIbMTdTp6eG?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>

      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            
          </div>
<! -- 9-->          
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3ctHEMQluwxFVdAu80JoEx?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        </div>
      </div>

    </div>
    <%= link_to contact_path do %>
      <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Let's Talk!</button>
    <% end %> 
  </div>
</section>


